.login {
  float: left;
  width: 50%;
  min-height: calc(100vh - 103px);
  background: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  animation: fadeIn .75s;
  animation-fill-mode: both;

  &__form {
    width: 100%;
  }

  &--register {
    background: white;
  }

  @include breakpoint(sm-min) {
    display: block;
    width: 100%;
    padding: 40px 20px;
    min-height: auto;
  }
  &__container {
    max-width: 485px;
    margin: 0 auto;
  }
  &__title {
    font-size: 2.14rem;
    letter-spacing: 0.4px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__link {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: .5px;
    color: #1EAEDB;
  }

  &__btn-container {
    display: block;
    margin: 20px 0;
  }

  &--theme-2 {
    .login__container {
      display: block;
    }
  }
}

body .login {
  &--theme-2 {
    .login__container {
      display: block;
    }

    .login__title {
      width: auto;
    }
  }
}
