.checkout {
  display: flex;

  @include breakpoint(sm) {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  &__left,
  &__right {
    @include breakpoint(sm) {
      float: none;
      width: 100%;
    }
  }
}

body {
  @include breakpoint(sm) {
    .checkout__right,
    .checkout__left {
      float: none;
      width: 100%;
      display: block;
      .cart__items,
      .cart__header,
      .cart__subtotal,
      .cart__total {
        display: none;
      }
    }
  }
}
