@import "~cq-base-react/src/css/base/responsive.scss";

body {

  .checkout {
    .paazl-perfect__wrapper {
      .button {
        max-width: 820px;
        text-decoration: underline;
      }
      .button__submit {
        padding: 20px 0;
        font-size: 1.1rem;
        text-decoration: none;
      }
    }

    &__opening-time {
      font-size: 12px;
      letter-spacing: .4px;
      line-height: 18px;

      &:first-of-type {
        @include breakpoint(sm) {
          margin-top: 10px;
        }
      }
    }

    &__main-title {
      margin-bottom: 30px;
      font-style: italic;
      letter-spacing: .4px;
    }

    &__delivery-item {
      position: relative;
      padding: 10px 60px;
      max-width: 820px;
      min-height: 62px;
      height: auto;

      @include breakpoint(sm) {
        display: block;
        min-height: 0;
      }

      input:checked ~ label {
        strong {
          display: inline-block;
        }
      }

      label {
        font-weight: 400;
        line-height: 18px;
        position: relative;
        z-index: 11;
        cursor: pointer;

        strong {
          display: none;
          padding: 5px 0;
          cursor: pointer;
        }
      }

      &__price {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
      }
    }
  }
}

#klarna-checkout-container {
  overflow: hidden;
}
