.klarna__delivery {
  max-width: 640px;
  margin: 0 auto;

  &-box {
    max-width: 750px;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;
    border-style: solid;
    border-width: 1px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(209, 209, 208);
    cursor: pointer;
    border-radius: 3px;
    padding: 14px 15px;
    transition: border-color 0.2s ease 0s;
    width: 100%;
  }

  &-title {
    padding: 15px 0 6px;
    font-size: 16px;
    color: #434343;
    display: inline-block;
    margin: 0 0 0 2px;
    padding-right: 16px;
    z-index: 1;
    font-weight: 600;
  }

  &-name, &-price {
    max-width: 100%;
    color: rgb(52, 52, 52);
    font-family: "Klarna Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    opacity: 1;
    text-align: left;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 3px;
    padding-top: 2px;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    text-size-adjust: none;
  }

  &-edit {
    font-size: 16px;
    line-height: 25px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2px;
    color: rgb(235, 111, 147);
    cursor: pointer;
    font-family: "Klarna Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    outline: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
    text-rendering: geometricPrecision;
    transition: color 0.2s ease 0s;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}
