.slider {
  text-align: center;
  padding: 90px 50px 105px;

  @include breakpoint(md) {
    padding: 60px 25px 80px;
  }

  @include breakpoint(sm-min) {
    padding: 30px 15px;
  }

  h2 {
    font-size: 2.57rem;
    letter-spacing: 0.9px;
    margin-bottom: 70px;
    font-weight: 700;

    @include breakpoint(sm-min) {
      font-size: 1.42rem;
      line-height: 30px;
      letter-spacing: 0.5px;
      margin-bottom: 35px;
    }
  }

  .product__container {
    width: calc(25% - 50px);
    margin: 0 25px;
    position: relative;
    border: 1px solid #D6D6D6;
    padding-bottom: 70px;
    text-align: left;

    @include breakpoint(md) {
      width: calc(25% - 20px);
      margin: 0 10px;
    }

    @include breakpoint(sm-min) {
      width: calc(50% - 20px);
    }
  }

  .swiper-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    @include breakpoint(sm-min) {
      margin-bottom: 40px;
    }
  }

  &__item {
    width: calc(25% - 50px);
    position: relative;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }
}
