.modal {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  left: 0;
  top: 0;
  z-index: 3000;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms;

  @include breakpoint(sm-min) {
    overflow: hidden;
  }

  &--open {
    opacity: 1;
    visibility: visible;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
  }

  &__container {
    z-index: 100;
    width: 90%;
    max-width: 1200px;
    position: relative;
    background: white;
    overflow: hidden;

    @include breakpoint(sm-min) {
      height: 80%;
      max-height: none;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  &__content {
    height: 100%;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;

    img {
      width: 20px;
    }
  }
}
