.wishlist-wrapper {
  height: 100%;
  display: flex;

  @include breakpoint(sm-min) {
    display: block;
  }

  &__left {
    width: 30%;
    padding: 30px;
    display: flex;
    align-items: center;
    background: #F3F0F0;

    @include breakpoint(sm-min) {
      display: block;
      width: 100%;
    }
  }

  &__center {
    width: 70%;

    @include breakpoint(sm-min) {
      width: 100%;
    }
  }

  &__right {
    display: none;
  }

  &__content {
    padding: 45px 30px 30px;
  }

  .wishlist-modal {
    &__title {
      text-align: center;
      font-size: 1.14rem;
      font-style: italic;
      margin-bottom: 40px;
      span {
        text-decoration: underline;
      }
    }
  }

  .wishlist {
    &__item {
      float: left;
      width: calc(50% - 10px);
      margin: 0 5px 10px;
      background: #F3F0F0;
      font-weight: 400;
      position: relative;
      height: 50px;
      display: flex;
      align-items: center;
      padding-left: 50px;
      cursor: pointer;

      @include breakpoint(sm-min) {
        width: calc(100% - 10px);
      }

      .form--input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }

      .form--input {

      }

      span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: white;
        border: 1px solid #a8a8a8;
        position: absolute;
        //top: calc(50% - 10px);
        left: 10px;
        box-shadow: inset 0px 0px 0px 4px #fff;
      }
    }

    &__label {
      font-size: 0.85rem;
      font-weight: 400;
      letter-spacing: .3px;
    }

  }

  .login {
    min-height: auto;
    background: white;
    text-align: left;
    display: block;
    padding: 0 20px;

    @include breakpoint(sm-min) {
      margin-bottom: 30px;
      padding: 0;
    }

    &__title {
      font-style: normal;
      font-size: 1rem;
      letter-spacing: 1px;
    }
  }

  .product__container {
    width: 100%;
    max-height: 500px;
    height: auto;

    .wishlist__icon {
      display: none;
    }
  }

  .product__img-container {
    @include breakpoint(sm-min) {
      padding-bottom: 0;
      min-height: 90px;
    }
  }
}

.wishlist__add {
  clear: both;
  padding-top: 30px;

  .button {
    @include breakpoint(sm-min) {
      width: 100%;
    }
  }
}
