.inspirations {
  margin-bottom: 80px;
  &__title {
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 60px 0 40px;

      @include breakpoint(sm-min) {
          font-size: 30px;
      }
  }
  &__list {
      display: flex;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: auto;
      padding: 0 20px;
      width: 100vw;
      overflow: hidden;

      @include breakpoint(sm-min) {
          padding: 0 10px;
      }
  }
  &__item {
      &.col-1 {
          width: calc(100% / 12);
          @include breakpoint(sm-min) {
              width: 50%;
          }
      }
      &.col-2 {
          width: calc((100% / 12) * 2);
          @include breakpoint(sm-min) {
              width: 50%;
          }
      }
      &.col-3 {
          width: calc((100% / 12) * 3);
          @include breakpoint(sm-min) {
              width: 50%;
          }
      }
      &.col-4 {
          width: calc((100% / 12) * 4);
          @include breakpoint(sm-min) {
              width: 50%;
          }
      }
      &.col-5 {
          width: calc((100% / 12) * 5);
          @include breakpoint(sm-min) {
              width: 50%;
          }
      }
      &.col-6 {
          width: calc((100% / 12) * 6);
          @include breakpoint(sm-min) {
              width: 50%;
          }
      }
      &.col-7 {
          width: calc((100% / 12) * 7);
          @include breakpoint(sm-min) {
              width: 100%;
          }
      }
      &.col-8 {
          width: calc((100% / 12) * 8);
          @include breakpoint(sm-min) {
              width: 100%;
          }
      }
      &.col-9 {
          width: calc((100% / 12) * 9);
          @include breakpoint(sm-min) {
              width: 100%;
          }
      }
      &.col-10 {
          width: calc((100% / 12) * 10);
          @include breakpoint(sm-min) {
              width: 100%;
          }        
      }
      &.col-11 {
          width: calc((100% / 12) * 11);
          @include breakpoint(sm-min) {
              width: 100%;
          }
      }
      &.col-12 {
          width: 100%;
      }
  }
  .slider__image, .hotspot__wrapper {
      width: 100%;
  }
  .hotspot__wrapper {
      border: 10px solid white;

      @include breakpoint(sm-min) {
          border: 5px solid white;
      }
  }
  .hotspot {
      @include breakpoint(sm-min) {
          display: block;
      }
  }
}