.option {
  &__type {
    display: flex;
    align-items: center;
    margin-bottom: 30px
  }
  &__values {}
  &__value {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    padding: 0 10px;
    text-align: center;
    line-height: 30px;

    &--color {
      padding: 0;
      position: relative;

      &:hover {
        .option__value__tooltip {
          opacity: 1;
          visibility: visible;
        }
      }

      &-inner {
        width: 30px;
        height: 30px;
        position: relative;
        @include breakpoint(sm-min) {
          width: 20px;
          height: 20px;
        }
      }
      img {
        @include img-contain-center();
      }
    }

    &--selected {
      border: 1px solid #ffffff;
    }

    &--out-of-stock {
      pointer-events: none;
      opacity: 0.5;
      text-decoration: line-through;
    }

    &__tooltip {
      position: absolute;
      font-size: 10px;
      background: black;
      padding: 4px;
      color: white;
      height: auto;
      line-height: normal;
      left: 50%;
      transform: translate(-50%, 0);
      top: -28px;
      white-space: nowrap;
      border: 1px solid white;
      opacity: 0;
      visibility: hidden;
      transition: all 300ms;
      border-radius: 4px;
    }
  }

  &__selected-value {
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
    color: #979797;
  }
}
