.slider {
  overflow: hidden;
  color: white;

  &__item {
    position: relative;
    height: calc(100vh - 92px);
    min-height: 600px;

    @include breakpoint(sm-min) {
      height: calc(100vh - 69px);
      min-height: 0;
      max-height: 500px;
    }
  }

  &__text-wrapper {
    composes: centralize from global;
    z-index: 1;
    right: 0;
    width: 80%;
    text-align: center;
  }

  &__description {
    letter-spacing: 1.9px;
    line-height: 65px;
    font-size: 3.71rem;
    font-weight: 700;
    margin-bottom: 50px;

    @include breakpoint(sm-min) {
      font-size: 2.14rem;
      line-height: 40px;
    }
  }

  &__title {
    letter-spacing: 0.8px;
    font-size: 1.57rem;
    margin-bottom: 20px;
    font-weight: 700;

    @include breakpoint(sm-min) {
      font-size: 1.14rem;
      letter-spacing: 0.6px;
    }
  }

  &__image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
  }

  &__image-container {
    //width: 100%;
  }
}
