
:local {
  @import '~cq-base-react/src/css/base/responsive.scss';
  @import '~cq-base-react/src/css/base/mixins.scss';
  @import 'vendor/swiper.min.css';

  .slider {
    clear: both;
    overflow: hidden;
    padding: 0;
    max-width: 1280px;
    margin: 0 auto;

    @include breakpoint(sm-min) {
      padding: 30px;
    }

    @include breakpoint(xs) {
      padding: 15px;
    }

    &__wrapper {
      position: relative;
      overflow: hidden;

      @include breakpoint(sm-min) {
        display: block;
      }
    }

    &__item {
      position: relative;
      width: calc(25% - 30px);
      float: left;
      height: 0;
      overflow: hidden;
      padding-bottom: calc(25% - 15px);
      padding-right: 0;
      margin: 0 15px 30px;

      &:first-of-type {
        width: calc(50% - 30px);
        margin-bottom: 0;
        padding-bottom: 50%;
      }

      @include breakpoint(sm-min) {
        width: 100%;
        margin: 0 auto 30px;
      }

      @include breakpoint(xs) {
        margin-bottom: 15px;
      }
    }

    &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &__link {
      position: absolute;
      z-index: 1;
      left: 0;
      background: white;
      text-decoration: none;
      bottom: 36px;
      font-size: 0.85rem;
      letter-spacing: 0.3px;
      height: 56px;
      padding: 0 20px;
      display: flex;
      align-items: center;
    }
  }
}
