:local {
  @import "~cq-base-react/src/css/base/responsive.scss";

  .slider {
    clear: both;
    overflow: hidden;
    background-color: #2A2A2A;
    padding: 140px 30px 70px 30px;

    @include breakpoint(sm-min) {
      padding: 30px;
    }

    @include breakpoint(xs) {
      padding: 15px;
    }

    &__wrapper {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;

      @include breakpoint(sm-min) {
        display: block;
      }
    }

    &__item {
      position: relative;
      width: calc(50% - 30px);
      max-width: 630px;

      @include breakpoint(sm-min) {
        width: 100%;
        margin: 0 auto 30px;
      }

      @include breakpoint(xs) {
        margin-bottom: 15px;
      }

      &:first-of-type {
        margin-right: 30px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__image {
       width: 100%;
       height: 100%;
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
    }

    &__link {
      composes: centralize from global;
      background: white;
      text-decoration: none;
      padding: 20px;
    }
  }
}
