body .addresses-fields {
  .custom-select {
    &--white {
      height: auto;
      padding-top: 6px;
      padding-bottom: 6px;
    }
    .custom-select__dropdown {
      opacity: 0;
    }
    &--white.custom-select--open {
      .custom-select__dropdown {
        background: white;
        border-color: #999999;
        bottom: 0;
        opacity: 1;
        padding: 10px 5px 5px 5px;
        max-height: unset;
        height: 130px;

        > div {
          margin-bottom: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
