@import '~cq-base-react/src/css/base/responsive.scss';

.product-overview__breadcrumbs {
  position: relative;
  z-index: 10;
  max-width: 300px;
}

.breadcrumbs {
  padding-left: 50px;

  @include breakpoint(md) {
    padding-left: 10px;
  }
  &__link {
    display: inline-block;
    font-size: 0.85rem;
    letter-spacing: 1px;
    &:after {
      content: '|';
      margin: 0 5px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
