.slider {
  /*composes: slider from global;*/
  background: red;
  color: red;
  overflow:hidden;

  &--disabled {
     background: none;

    .swiper-pagination,
    .swiper-button-prev,
    .swiper-button-next,
    .swiper-scrollbar {
      display: none;
    }
  }

  &__item {
     position: relative;
   }
  &__description {}
  &__title {}
  &__image {}
  &__image-container {
     width: 100%;
   }

  &__image {
     width: 50%;
   }
}
