.wishlist-account {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  @include breakpoint(sm) {
    width: calc(100% + 40px);
    margin: 0 -20px;
  }

  &__row {
    display: flex;
    padding-bottom: 25px;
    margin-bottom: 25px;

    @include breakpoint(sm) {
      display: block;
    }

    > div {
      &:first-of-type {
        width: 20%;
        padding-left: 10px;

        @include breakpoint(sm) {
          width: 100%;
          padding-left: 0;
          text-align: center;
        }
      }
    }
  }

  &__title {
    font-size: 2.14rem;
    letter-spacing: .8px;
    margin: 10px 0;
    font-style: italic;
  }

  &__delete {
    font-size: 0.85rem;
    letter-spacing: .4px;
    cursor: pointer;
  }

  &__list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;

    @include breakpoint(sm) {
      width: 100%;
      display: block;
      white-space: nowrap;
      padding-top: 40px;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  &__item {
    flex-basis: 200px;
    width: 250px;
    position: relative;
    margin: 0 10px 20px;

    @include breakpoint(sm) {
      width: 160px;
      display: inline-block;
    }

    &-delete {
      font-size: 0;
      width: 24px;
      height: 24px;
      background: white url('../images/icon--delete.svg') no-repeat center;
      cursor: pointer;
      background-size: 12px auto;
      position: absolute;
      right: 0;
      top: 0;
      border: 1px solid black;
      border-radius: 50%;
      z-index: 10;
      transform: translate(50%, -50%);
    }

    .product__name {
      @include breakpoint(sm) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

}
