.account {
  &__tabs {
    max-width: 740px;
    margin: 0 auto 50px;
    display: flex;
  }

  &__tab {
    width: 50%;
    height: 60px;
    justify-content: center;
    font-size: 1.21rem;
    letter-spacing: 0.7px;
    font-weight: 700;
    cursor: pointer;
    background: #F7F7F7;
    text-align: center;
    line-height: 24px;
    display: flex;
    align-items: center;

    &--active {
      background: $brand-color;
      color: white;
    }
  }
}
