.account {

  &__header {
    max-width: 850px;
    margin: 0 auto 60px;
    display: flex;
    align-items: center;

    @include breakpoint(sm-min) {
      display: block;
      text-align: center;
    }
  }

  &__title {
    width: 35%;
    font-size: 2.14rem;
    letter-spacing: 0.7px;
    font-weight: 700;
    line-height: 40px;

    @include breakpoint(sm-min) {
      width: 100%;
    }
  }

  &__intro {
    width: 65%;
    letter-spacing: 0.7px;
    font-size: 0.85rem;
    padding-left: 50px;
    line-height: 20px;

    @include breakpoint(sm-min) {
      width: 100%;
      padding-left: 0;
      margin-top: 20px;
    }
  }

}
