.account {
  padding: 70px 20px 140px;
  animation: fadeIn .75s;
  animation-fill-mode: backwards;
  position: relative;

  @include breakpoint(sm-min) {
    padding: 60px 20px 80px;
  }

  &__logout-btn {
    position: absolute;
    right: 25px;
    top: 20px;
    padding: 6px 20px;
    border: 1px solid black;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: .5px;
    background: white;
    color: black;
    transition: all 300ms;

    @include breakpoint(sm-min) {
      right: 15px;
    }

    &:hover {
      background: black;
      color: white;
    }
  }

  &__section {
    display: flex;

    @include breakpoint(md) {
      display: block;
    }
  }

  &__block {
    width: calc((100% / 3) - 40px);
    margin: 0 20px;
    border: 1px solid #979797;
    text-align: center;

    @include breakpoint(md) {
      width: calc(50% - 10px);
      margin: 0;
      float: left;
    }

    @include breakpoint(sm-min) {
      float: none;
      width: 100%;
      margin: 0 0 20px;
    }

    &:first-of-type {
      @include breakpoint(md) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &:last-of-type {
      @include breakpoint(md) {
        margin-left: 20px;
      }

      @include breakpoint(sm-min) {
        margin-left: 0;
      }
    }

    &-title {
      background: #f7f7f7;
      font-size: 1.4rem;
      letter-spacing: 0.7px;
      font-weight: 700;
      padding: 20px 10px;
    }
  }

  &__padder {
    padding: 20px;

    @include breakpoint(sm-min) {
      display: none;

      &--visible {
        display: block;
      }
    }
  }

  &__logout {
    text-align: left;
    margin: 20px auto;
    font-size: 0.85rem;
    letter-spacing: 0.7px;
    line-height: 21px;
    font-weight: 700;

    a {
      text-decoration: underline;
    }
  }
}

@import "account-header";
@import "account-tabs";
@import "../../MyOrders/css/account-orders";
@import "../../MyOrders/css/account-order-modal";
