.instafeed {
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;

  &__subtitle {
    font-size: 1.14rem;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 2.57rem;
    margin-bottom: 60px;
  }

  &__item {
    float: left;
    width: calc((100% / 3) - 12px);
    margin: 0 6px 12px;
  }

  &__img {
    width: 100%;
  }
}
