$bg-color : none;
$border : none;

.header__account {
  transition: all 500ms;

  @include centralize-vertical;
  right: 85px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  outline: none;
  background: $bg-color;
  border: $border;
  display: flex;
  align-items: center;
  text-decoration: none;

  @include breakpoint(md) {
    width: 34px;
    height: 34px;
    right: 60px;
  }
}
