.header__burger {
  background: none;
  border: none;
  outline: none;
  width: 18px;
  @include centralize-vertical;
  left: 15px;
  cursor: pointer;
  display: none;

  @include breakpoint(md) {
    display: block;
  }

  &-line {
    height: 2px;
    display: block;
    background: white;
    margin-bottom: 4px;
  }
}
