$bg-color : #1c1c1c;
$border : none;

.header__cart {
  @include centralize-vertical;
  right: 25px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  outline: none;
  background: $bg-color;
  border: $border;
  transition: all 500ms;

  @include breakpoint(md) {
    width: 34px;
    height: 34px;
    right: 15px;
  }

  &__quantity {
    position: relative;
    top: 3px;
    z-index: 10;
    font-weight: $font-weight-bold;
    font-size: 0.85rem;
    color: $brand-color;

    @include breakpoint(md) {
      font-size: 0.7rem;
      top: 2px;
    }
  }
}
