
$header-bg-color: #2A2A2A;
$header-height: 92px;
$header-height-mobile: 69px;

.is-homepage {
  .header {
    top: 38px;

    @include breakpoint(sm-min) {
      top: 0;
    }
  }
}

.header {
  background: $header-bg-color;
  height: $header-height;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  padding: 40px 150px 0 70px;
  z-index: $z-index-header;

  @include breakpoint(md) {
    height: $header-height-mobile;
    padding: 20px;
  }

  &__icon {
    height: 22px;
    @include centralize;

    @include breakpoint(md) {
      height: 16px;
    }
  }

  &--menu-container-visible {
    .header__menu-container {
      transform: none;
    }
    .header__container {
      position: relative;
      z-index: 1;
    }

    .header__close {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }
  }

  &--search-open {
    .header__logo-container, .header__menu-container {
      opacity: 0;
      visibility: hidden;
    }
    .header__account, .header__cart {
      @include breakpoint(md) {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__close {
    background: url('../images/icon--close.png') no-repeat center;
    background-size: cover;
    width: 30px;
    height: 30px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    z-index: 2;
    top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms;
    transition-delay: 200ms;
  }
}

@import "menu";
@import "logo";
@import "cart";
@import "search";
@import "multilanguge";
@import "account";
@import "burger";
