$link-color: #ffffff;
$text-transform: uppercase;
$link-font-size: 0.85rem;
$link-letter-spacing: 1.9px;

.header__menu {
  width: calc(50% - 80px);
  float: left;

  @include breakpoint(md) {
    float: none;
    width: 100%;
  }

  &-container {
    transition: all 500ms;

    @include breakpoint(md) {
      position: absolute;
      left: 0;
      top: 69px;
      height: calc(100vh - 69px);
      background: #2A2A2A;
      width: calc(100vw - 60px);
      transform: translate(-100%, 0);

      &--visible {
        transform: none;
      }
    }
  }

  &--right {
    float: right;
    width: calc(50% - 160px);

    @include breakpoint(md) {
      float: none;
      width: 100%;
    }
  }

  .menu__items {
    display: flex;
    justify-content: space-around;

    @include breakpoint(md) {
      display: block;
    }

    &--sub {
      display: block;
      position: absolute;
      background: $header-bg-color;
      padding: 30px 12px 8px;
      top: 15px;
      left: 50%;
      transform: translate(-50%, 0);
      opacity: 0;
      visibility: hidden;
      transition: all 300ms;

      @include breakpoint(md) {
        position: static;
        opacity: 1;
        transform: none;
        visibility: visible;
        margin: 15px 0 0 -60px;
        padding: 0;
        background: #1b1b1b;
        display: none;
      }


      .menu__item {
        border-bottom: 1px solid #3F3F3F;
        padding: 6px 12px;

        @include breakpoint(md) {
          padding: 15px 0 15px 60px;
        }

        &:last-of-type {
          border: none;
        }
      }
    }
  }

  .menu__item {
    position: relative;

    @include breakpoint(md) {
      padding: 15px 5px 15px 60px;
      border-bottom: 1px solid black;
    }

    &:hover > .menu__items--sub {
      opacity: 1;
      visibility: visible;

      @include breakpoint(md) {
        display: block;
      }
    }
  }

  .menu__item-link {
    color: $link-color;
    text-transform: $text-transform;
    text-decoration: none;
    letter-spacing: $link-letter-spacing;
    font-weight: 700;
    font-size: 0.85rem;
    transition: all 300ms;

    &:hover {
      color: $brand-color;
    }
  }
}
