$bg-info: #1e1e1e;
$label-color: #fff;
$info-color: #fff;
$bg-price: #fff;
$font-size-info-label: 1.35rem;
$font-size-info-value: 1.14rem;
$page-animation: fadeIn 0.75s;

.product-detail {
  &.is-zoomed, .is-zoomed {
    @media (min-width: 992px) {
      .swiper-container {
        animation: none;
        overflow: visible;
      }

      .product-detail__slider-img {
        opacity: 0;
        visibility: hidden;
        transition: all 0s;
        transition-delay: 0s;
        cursor: url('../images/icon--zoom-out.svg'), auto;
      }

      .swiper-slide-active {
        .product-detail__slider-img {
          visibility: visible;
          opacity: 1;
          transform: translate(-50%, -50%) scale(1.65);
          left: 100%;
          transition: all 750ms;
        }
      }

      .product-detail__top-container {
        min-height: calc(130vh - 93px);
        cursor: url('../images/icon--zoom-out.svg'), auto;
      }

      .product-detail__info-container {
        transform: translate(100%, 0);
        opacity: 0;
      }

      .swiper-pagination {
        opacity: 0;
      }
    }
  }

  &__top-container {
    display: flex;
    max-width: 100vw;
    min-height: calc(100vh - 93px);
    overflow: hidden;
    position: relative;
    animation: $page-animation;
    animation-fill-mode: both;
    transition: all 750ms;

    @include breakpoint(md) {
      min-height: calc(100vh - 69px);
    }

    @include breakpoint(sm-min) {
      display: block;
    }

    .breadcrumbs {
      position: absolute;
      left: 20px;
      top: 20px;
      padding-left: 0;
      z-index: 100;
    }

  }

  &__slider-container,
  &__info-container {
    width: 50%;

    @include breakpoint(sm-min) {
      width: 100%;
    }
  }

  &__slider-container {
    position: relative;
    display: flex;
    align-items: center;
    transition: all 750ms;

    .swiper-container {
      height: 100%;
      width: 100%;
      animation: delay-overflow 2s;
      animation-fill-mode: both;
    }

    @include breakpoint(sm-min) {
      height: calc(100vh - 69px);
      max-height: 500px;
    }
  }

  &__slider-img-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__slider-img {
    object-fit: contain;
    width: 80%;
    height: 80%;
    @include img-contain-center;
    cursor: url('../images/icon--zoom.svg'), auto;
    transition: all 750ms;
    transition-delay: 1000ms;
  }

  .swiper-slide-active {
    .product-detail__slider-img {
      transition-delay: 0s;
    }
  }

  &__info-container {
    background: $bg-info;
    display: flex;
    position: relative;
    z-index: 100;
    align-items: center;
    padding: 50px 90px;
    color: $info-color;
    transition: all 750ms;

    @include breakpoint(md) {
      padding: 50px;
    }

    @include breakpoint(sm) {
      padding: 40px 20px;
      position: static;
    }

    > div {
      width: 100%;
      position: relative;

      @include breakpoint(sm) {
        position: static;
      }
    }
  }

  &__info {
    &-label {
      display: inline-block;
      font-size: $font-size-info-label;
      letter-spacing: 0.25px;
      color: $label-color;
      font-weight: $font-weight-bold;
      min-width: 112px;

      @include breakpoint(md) {
        font-size: 1.14rem;
      }
    }
    &-value {
      margin-top: 15px;
      font-size: $font-size-info-value;

      @include breakpoint(md) {
        font-size: 1rem;
      }
    }
  }

  &__product-price {
    position: absolute;
    min-width: 160px;
    height: 70px;
    background: $bg-price;
    color: $brand-color;
    text-align: center;
    font-size: 1.85rem;
    white-space: nowrap;
    right: -90px;
    top: 0;
    padding: 22px 20px 0;
    font-weight: $font-weight-bold;

    @include breakpoint(md) {
      min-width: 90px;
      height: 60px;
      font-size: 1.2rem;
      right: -50px;
    }

    @include breakpoint(sm) {
      right: 0;
      padding: 0;
      top: 20px;
      z-index: 100;
      background: transparent;
    }
  }

  &__product-name {
    font-size: 1.85rem;
    letter-spacing: 0.4px;
    line-height: 2rem;
    margin-bottom: 15px;
    padding-right: 80px;
    font-weight: $font-weight-bold;

    @include breakpoint(md) {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  }

  &__product-sub {
    font-size: 1.14rem;
    letter-spacing: 0.4px;
    margin-bottom: 40px;
    min-height: 15px;

    @include breakpoint(md) {
      font-size: 1rem;
      padding-right: 80px;
      margin-bottom: 20px;
    }
  }

  &__specs {
    display: flex;
    margin-bottom: 55px;

    @include breakpoint(md) {
      margin-bottom: 30px;
    }
  }

  &__specs-item {
    width: calc(100% / 3);
    display: flex;
    padding: 0 5px 0 0;
    flex-direction: column;
    justify-content: space-between;
  }

  &__description {
    font-size: 1.14rem;
    line-height: 1.93rem;
    letter-spacing: 0.2px;
    margin: 15px 0 65px;

    @include breakpoint(md) {
      font-size: 1rem;
      line-height: 1.6rem;
      margin: 15px 0 30px;
    }
  }

  &__quantity {
    display: inline-block;
  }

  &__btn-container {
    margin-top: 75px;

    @include breakpoint(sm) {
      margin-top: 50px;
    }
  }
}

@keyframes:global(delay-overflow) {
  from {
    overflow: visible;
  }
  to {
    overflow: hidden;
  }
}
