.looks {
  width: 90vw;
  margin: 0 auto;
  padding: 50px 0;
  background: linear-gradient(45deg, transparent 50%, #fff 50%),
    linear-gradient(-45deg, transparent 50%, #fff 50%),
    linear-gradient(to bottom, #f7f7f7, #f7f7f7);

  .looks__titles {
    text-align: center;
    margin-bottom: 34px;

    h1 {
      font-size: 26px;
      letter-spacing: 7.24px;
      font-family: "Copperplate";
    }

    h2 {
      font-size: 9px;
      letter-spacing: 5.8px;
      margin-bottom: 15px;
    }
  }

  .swiper-container {
    height: calc(100vh - 400px);
  }

  .look-swiper-slide {
    display: flex;
    justify-content: center;
    align-content: center;

    img {
      height: 100%;
    }
  }

  .look__navigation {
    display: flex;
    width: 500px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
  }

  .look__navigation-prev,
  .look__navigation-next {
    background-color: #ffffff;

    button {
      border: none;
      padding: 26px;
    }

    img {
      width: 15px;
    }
  }

  .look__navigation-prev {
    margin-right: 8px;
  }

  .look__navigation-next {
    margin-left: 8px;
  }

  .look__navigation-prev-image {
    transform: rotate(180deg);
  }

  .look__navigation-go-to-look {
    display: flex;
    justify-content: center;

    a {
      text-decoration: none;
      background-color: #ffffff;
      text-transform: uppercase;
      color: black;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1.2px;
      line-height: 16px;
      text-align: center;
      padding: 26px 86px;
    }
  }
}
