.product-detail--theme-1 {
  .product-detail {
    @include breakpoint(sm-min) {
      padding-bottom: 50px;
    }

    &__center {
      width: 100vw;
      position: relative;
      align-items: flex-start;
      transition: all 0.75s;
      display: flex;
      position: relative;

      @include breakpoint(md) {
        overflow: auto;
        max-height: none;
      }

      @include breakpoint(sm-min) {
        display: block;
        height: auto;
        max-height: none;
      }
    }
    &__container {
      animation: fadeIn 1.5s;
      animation-fill-mode: backwards;
      position: relative;

      &.zoomed {
        height: calc(100vh - 122px);
        .product-detail__zoom-container {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &__info {
      @include breakpoint(sm-min) {
        display: block;
      }

      &--mobile {
        @include breakpoint(sm-min) {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          background: #eaece8;
          width: calc(100% + 40px);
          margin-left: -20px;
          padding: 6px 20px 10px;
          align-items: flex-start;
          margin-bottom: 20px;

          p {
            font-size: 11px;
            line-height: 22px;
          }
        }
      }
      p {
        font-size: 11px;
        line-height: 22px;
      }
    }

    &__name-container {
      @include breakpoint(sm-min) {
        width: calc(100% - 110px);
      }
    }

    &__name {
      font-size: 23px;
      letter-spacing: 2.4px;
      margin-bottom: 20px;
      font-weight: bold;
      text-transform: uppercase;

      @include breakpoint(sm-min) {
        font-size: 18px;
        margin-bottom: 5px;
      }
    }

    &__price {
      font-size: 16px;
      margin-bottom: 20px;
      letter-spacing: 0;
      font-weight: bold;

      @include breakpoint(sm-min) {
        font-size: 15px;
        margin-bottom: 4px;
        width: 110px;
      }

      &--is-sale {
        .product-detail__price-normal {
          text-decoration: line-through;
        }
      }

      &-sale {
        display: inline-block;
        margin-left: 5px;
        color: red;
      }
    }

    &__sku {
      font-size: 11px;
      margin-bottom: 20px;

      @include breakpoint(sm-min) {
        margin-top: 15px;
      }
    }

    &__tabs {
      display: flex;
      justify-content: space-between;

      .product-detail__info-label {
        cursor: pointer;
        color: #c2c2c2;
        font-size: 12px;
        min-width: 0;

        &--active {
          color: black;
        }
      }
    }

    &__info-label {
      display: block;
      margin-bottom: 15px;
      font-size: 14px;
      font-weight: normal;
      color: black;
    }

    &__description {
      min-height: 100px;
      margin-bottom: 50px;
      margin-top: 0;
      font-size: 11px;
      line-height: 22px;

      @include breakpoint(sm-min) {
        margin-bottom: 20px;
        min-height: 0;
      }

      &--mobile {
        display: none;
        @include breakpoint(sm-min) {
          display: block;
        }
      }
    }

    &__add-to-cart {
      clear: both;
      .button {
        @include breakpoint(sm-min) {
          position: fixed;
          width: 100%;
          left: 0;
          bottom: 50px;
          z-index: 1000;
        }
      }
    }

    &__add-container {
      &__wrapper {
        margin-bottom: 30px;

        @include breakpoint(sm-min) {
          margin-bottom: 10px;
        }
      }
    }

    .quantity {
      width: 100%;
      height: 55px;
      background: transparent;
      border: 1px solid white;

      &__input {
        pointer-events: none;
        outline: none;
        background: transparent;
        padding: 0;
      }

      &__input-container {
        @include breakpoint(sm-min) {
          width: calc(100% - 60px);
        }
      }

      &__min,
      &__plus {
        @include breakpoint(sm-min) {
          width: 30px;
        }
      }
    }

    &__right {
      width: 30vw;
      padding: 80px 50px 0 50px;
      position: sticky;
      top: 100px;
      right: 0;

      @include breakpoint(md) {
        position: static;
        width: 40vw;
        padding: 50px 30px 0;
      }

      @include breakpoint(sm-min) {
        width: 100vw;
        padding: 0 20px 20px;
      }

      .option {
        &__type {
          display: block;
          margin-bottom: 10px;

          @include breakpoint(sm-min) {
            float: left;
            width: 50%;
          }
        }

        &__values {
          border-radius: 0;
          width: 100%;
          background: transparent;
          outline: none;

          @include breakpoint(md) {
            background: transparent;
          }

          &--size {
            .option__value {
              width: auto;
              height: 42px;
              min-width: 42px;
              line-height: 42px;
              border: 1px solid #c6c6c6;

              @include breakpoint(md) {
                height: 30px;
                min-width: 30px;
                line-height: 30px;
                padding: 0 2px;
              }

              &--selected {
                border-color: black;
              }
            }
          }
        }

        &__value {
          margin: 0 3px 6px;
          height: auto;

          &--color {
            margin: 0 5px 0 0;
            border: 1px solid #ddd;
            border-radius: 50%;
            width: 28px;
            height: 28px;

            img {
              max-width: none;
              max-height: none;
              width: 100%;
              height: 100%;
            }
          }

          &--selected {
            border-color: black;
          }
        }

        &__value--color-inner {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border: 1px solid #eee;
        }
      }
    }

    &__logo {
      display: none;
      position: absolute;
      left: 50%;
      top: 12px;
      transform: translate(-50%, 0);
      width: 24px;
      z-index: 100;

      @include breakpoint(sm-min) {
        display: block;
      }
    }

    &__left {
      width: 70vw;
      height: auto;

      @include breakpoint(md) {
        width: 60vw;
        overflow: auto;
      }

      @include breakpoint(sm-min) {
        width: 100vw;
        background: #eaece8;
        position: relative;
      }
    }

    &__extra-buttons {
      display: flex;
      margin-top: 32px;
      margin-bottom: 30px;

      @include breakpoint(sm-min) {
        margin-bottom: 30px;
      }
    }

    &__extra-button {
      width: 50%;
      height: 43px;
      text-align: center;
      display: flex;
      justify-content: center;
      background: white;
      align-items: center;
      transition: all 300ms;
      border: 1px solid black;
      cursor: pointer;
      font-size: 11px;
      letter-spacing: 0.5px;

      @include breakpoint(sm-min) {
        display: block;
      }

      &:hover {
        color: white;
        background: black;

        @include breakpoint(sm-min) {
          background: white;
        }
      }

      &--sizeguide {
        &.is-disabled {
          opacity: 0.5;
          pointer-events: none;
        }
        @include breakpoint(sm-min) {
          width: 100%;
        }
      }

      &--wishlist {
        @include breakpoint(sm-min) {
          position: absolute;
          right: 12px;
          top: 12px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: none;
          z-index: 200;
          font-size: 0;
          background: white url('../images/icon--heart-black.svg') no-repeat
            center;
          background-size: 14px;

          &:hover {
            background: white url('../images/icon--heart-black.svg') no-repeat
              center;
            background-size: 14px;
          }
        }
      }
    }

    &__zoom-container {
      position: fixed;
      width: 100%;
      height: calc(100vh - 142px);
      left: 0;
      top: 142px;
      background: white;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      transition: all 500ms;
      cursor: url('../images/icon--zoom-out.svg'), auto;
      overflow: scroll;
    }

    &__zoom-img {
      height: 150vh;
      display: block;
      margin: auto;
    }

    .size-guide {
      &__wrapper-image {
        width: 100%;
        height: auto;
        position: relative;
        margin: auto;
        padding: 50px;

        @include breakpoint(sm-min) {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
        }
      }
      &__image {
        width: 100%;
      }
    }
  }
}

.product-detail--theme-1, .mini-pdp {
  .notify {
    margin-bottom: 20px;
    &__form {
      display: flex;
    }
    &__message {
      font-size: 12px;
      margin-bottom: 6px;
    }
    .button {
      min-width: 100px;
    }
  }
}
