.hotspot {
  position: absolute;
  z-index: 100;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  transition: all 250ms;

  @include breakpoint(sm-min) {
    display: none;
  }

  &__wrapper {
    position: relative;
    display: inline-block;
  }

  &__button {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    background: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    &:active {
      transform: translate(-50%, -50%) scale(0.9);
    }

    &:before, &:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      background: white;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }

  }
  .product {
    &--hotspot {
      opacity: 0;
      visibility: hidden;
      transition: all 500ms;

      &.is-visible {
        opacity: 1;
        visibility: visible;
      }

      &__close {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-weight: 700;
        cursor: pointer;
        z-index: 100;
      }
    }

    &__container {
      width: 300px;
      background: white;
    }
  }
}


