.product-detail__slider-container--has-slider {
  width: 100vw;

  @include breakpoint(md) {
    width: calc(100% - 300px);
  }

  @include breakpoint(md) {
    width: 100%;
    height: calc(100vh - 160px);
  }

  .product-detail__slider-img {
    max-width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
  }

  .swiper-pagination-bullet {
    border: none;
    background: none;
    outline: none;
    background: #f1f1f1;
    border-radius: 0;
  }

  .swiper-pagination-bullet {
    display: block;
    margin: 0 0 6px;
    width: 56px;
    height: 78px;

    &:hover {
      opacity: 1;
      img {
        opacity: 1;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    z-index: 1000;
    background: url('../images/arrow.svg') no-repeat center;
    background-size: contain;
    outline: none;
    right: 100px;
    transform: translate(50%, -50%);
    top: 50%;
    width: 20px;

    @include breakpoint(md) {
      right: 20px;
    }
  }

  .swiper-button-prev {
    right: auto;
    left: 100px;
    transform: translate(-50%, -50%) rotate(180deg);
    transform-origin: 50% 50%;

    @include breakpoint(md) {
      left: 20px;
    }
  }

  .swiper-pagination {
    bottom: auto;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    width: auto;

    @include breakpoint(sm) {
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 30px;
      top: auto;
      width: 90%;
    }

    &-bullet {
      @include breakpoint(sm) {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 4px;
        border-radius: 50%;
        background: #bfbfbf;
        border: none;
      }

      &-active {
        opacity: 1;
        img {
          opacity: 1;
        }
        @include breakpoint(sm) {
          background: black;
        }
      }

      img, .pagination-bullet-img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        transition: all 300ms;
        @include breakpoint(sm) {
          display: none;
        }
      }
    }

  }
}

.pagination-bullet-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  transition: all 300ms;
  @include breakpoint(sm) {
    display: none;
  }
}
