.product-detail__slider-container--has-4-images {
  width: 100%;
  position: relative;
  align-items: flex-start;

  @include breakpoint(md) {
    display: block;
    height: auto;
    max-height: none;
  }

  .swiper-container {
    height: auto;

    @include breakpoint(md) {
      height: 100%;
    }
  }

  .swiper-wrapper {
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint(md) {
      flex-wrap: unset;
      justify-content: unset;
    }
  }

  .swiper-slide {

    @media (min-width: 993px) {
      width: calc(50% - 4px) !important;
      margin: 0 0 4px 4px;
      background: none;
    }

    &:nth-child(even) {
      @media (min-width: 993px) {
      }

      @include breakpoint(md) {
        margin: 0;
      }
    }
  }

  .product-detail__slider-img-container {
    height: calc(100vh - 200px);
    background: #F6F6F6;

    @include breakpoint(md) {
      height: auto;
    }

    @include breakpoint(sm-min) {
    }
  }

  .product-detail__slider-img {
    position: static;
    width: 100%;
    transform: none;
    transition: all 500ms;

    @include breakpoint(md) {
      max-width: 100%;
      cursor: auto;
    }

    @include breakpoint(sm-min) {
      max-width: 90%;
      max-height: 70%;
    }
  }
}
