.multilanguage {
  font-size: 1.14rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  @include breakpoint(md) {
    right: 110px;
  }

  .multilanguage__locale--active:hover ~ .multilanguage__list {
    opacity: 1;
    visibility: visible;
  }

  &__list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 58px;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid black;
    background: white;

    &:hover {
      opacity: 1;
      visibility: visible;
    }
  }

  &__locale {
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid black;

    &:hover {
      background: black;
      color: white;
    }

    &--active {
      width: 45px;
      padding: 10px 0;

      @include breakpoint(md) {
        width: 35px;
      }

      &:after {
        content: '\25be';
        display: inline-block;
        margin-left: 10px;

        @include breakpoint(md) {
          margin-left: 0;
        }
      }
    }

    &:last-of-type {
      border: none;
    }
  }
}
