.checkout {
    &--theme-1 {
        .checkout__delivery,
        .checkout__payment {
            padding-top: 20px;
            border-top: 1px solid gray;
        }
        .checkout__delivery {
            padding-right: 20px;
            border-right: 1px solid gray;
        }
        .checkout__payment {
            padding-left: 20px;
        }
        .checkout__address-wrapper {
            margin-bottom: 20px;
        }

        &.checkout--loading .checkout__middle {
            pointer-events: none;
            opacity: 0.2;
        }
    }

    &__bloc--disabled {
        pointer-events: none;
        opacity: 0.2;
    }

    &__edit-btn {
        display: inline-block;
        padding: 5px;
    }

    &__title {
        display: inline-block;
        vertical-align: top;
    }

    &--thank-you-page {
      .checkout {
        &__left {
          display: none;
        }

        &__right {
          width: 100vw;
          min-height: calc(100vh - 114px);
          background: #f1f1f1;
          display: flex;
          align-items: center;
          justify-content: center;

          > div {
            width: 100%;
            max-width: 600px;
          }
        }

        &-completed {
          text-align: center;
          background: white;
          padding: 50px 50px 30px;
        }
      }
    }

}

body {
    .checkout__edit-btn {
        vertical-align: top;
        display: inline-block;
        padding: 5px;
        margin-left: 20px;
    }
}

