body {
  .slider {

    &__item {
      height: auto;
      min-height: 0;
      position: relative;
      width: calc(100vw - 200px);
      background: #f0f0f0;
      transition: all 1000ms;
    }

    &__image-container {
      position: relative;
      width: 50%;
      height: auto;
      padding-bottom: 50%;
      margin: 0 0 0 auto;
      opacity: 0;
      transition: all 1500ms;
    }

    &__description, &__button-container {
      display: none;
    }

    &__text-wrapper {
      position: absolute;
      left: 0;
      text-align: center;
      top: 50%;
      transform: translate(0, -50%);
      width: 50%;
    }

    &__title {
      color: black;
      font-size: 32px;
      letter-spacing: 1px;
      font-weight: bold;
      max-width: 350px;
      margin: auto;
      line-height: 44px;
      opacity: 0;
      transition: all 1500ms;
    }

    .swiper-button-prev, .swiper-button-next {

    }

  }
}

:global {
  body {
    .hotspot-slider {
      .slider {
        &__image {
          @include img-contain-center;
        }

        &__preview {
          position: absolute;
          top: 0;
          width: 100px;
          height: 100%;
          text-align: center;
          color: black;
          z-index: 200;
          font-size: 20px;
          font-weight: bold;
          white-space: nowrap;
          letter-spacing: 1px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 1000ms;

          &:after {
            content: '';
            width: 30px;
            height: 10px;
            background: url('./images/arrow--black.svg') no-repeat center;
            background-size: contain;
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translate(0, -50%);
          }

          > div {
            transform: rotate(-90deg);
          }
        }
      }

      .swiper-slide-active {
        background: transparent;

        .slider__title, .slider__image-container {
          opacity: 1;
        }
        .slider__preview {
          opacity: 0;
          visibility: hidden;
        }
      }

      .swiper-slide-next {
        .slider__preview {
          left: 0;
        }
      }

      .swiper-slide-prev {
        .slider__preview {
          right: 0;

          &:after {
            right: auto;
            left: 8px;
            transform: rotate(180deg);
          }
        }
      }

      .swiper-button {
        &-prev, &-next {
          position: absolute;
          height: 100%;
          width: 100px;
          background: none;
          top: 0;
          left: 0;
          z-index: 100;
          margin-top: 0;
          outline: none;
        }

        &-disabled {
          display: none;
        }
      }

      .swiper-button-next {
        left: auto;
        right: 0;
      }

      .hotspot {
        position: absolute;
        z-index: 100;
        width: 40px;
        height: 40px;
        transform: translate(-50%, -50%);
        transition: all 250ms;

        @include breakpoint(sm-min) {
          display: none;
        }

        &__button {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 40px;
          height: 40px;
          background: black;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;

          &:active {
            transform: translate(-50%, -50%) scale(0.9);
          }

          &:before, &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 2px;
            background: white;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }

          &:after {
            transform: translate(-50%, -50%) rotate(90deg);
          }

        }
      }

      .product {
        &--hotspot {
          opacity: 0;
          visibility: hidden;
          transition: all 500ms;

          &.is-visible {
            opacity: 1;
            visibility: visible;
          }

          &__close {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-weight: 700;
            cursor: pointer;
            z-index: 100;
          }
        }
      }
    }
  }
}

