.checkout-contact {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__subtitle {
    color: black;
    font-size: 12px;
    text-align: right;

    a {
      font-weight: bold;
      cursor: pointer;
    }
  }
}
