$cart-width: 520px;
.cart {
  position: fixed;
  right: 0;
  top: 94px;
  // background: red;
  height: calc(100vh - 94px);
  z-index: $z-index-cart;
  width: $cart-width;
  transform: translate(100%, 0);
  transition: all 500ms $easeInOutQuad;

  @include breakpoint(md) {
    top: 69px;
    height: calc(100vh - 69px);
  }

  @include breakpoint(sm-min) {
    width: 100%;
  }

  &__overlay {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 92px;
    height: calc(100vh - 92px);
    background: rgba(0,0,0, 0.8);
    z-index: $z-index-cart;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms;

    @include breakpoint(md) {
      top: 69px;
      height: calc(100vh - 69px);
    }

    @include breakpoint(sm-min) {
      display: none;
    }
  }
}

.cart--open {

  .cart {
    transform: none;

    &__overlay {
      opacity: 1;
      visibility: visible;
    }
  }

}

.summary-interactive {
  padding: 20px 30px 0 30px;

  &--white {
    background: white;
    color: black;
  }

  &--black {
    background: #212121;
    color: white;
  }

  .summary {
    &__header {
      position: relative;
      text-align: center;
    }
    &__title {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0.6px;
      padding: 35px 0;
    }

    &__back {
      cursor: pointer;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 0.33px;
      position: absolute;
      left: 35px;
      top: 50%;
      transform: translateX(-50%);

      &:before {
        content: '';
        background: url('../images/icon--back.png') no-repeat center;
        width: 16px;
        height: 20px;
        display: inline-block;
        background-size: contain;
        vertical-align: middle;
        transform: rotate(180deg);
        margin-right: 10px;
      }
    }
    &__items-head {
      display: table-header-group;
      border-bottom: 10px solid transparent;
    }

    &__items {
      display: table;
      border-collapse: collapse;
      width: 100%;
    }

    &__head-image,
    &__head-quantity,
    &__head-price,
    &__head-net,
    &__head-total,
    &__head-delete,
    &__product-image,
    &__product-total,
    &__product-delete,
    &__price-container,
    &__head-item {
      display: table-cell;
      vertical-align: middle;
      padding: 20px;
      // width: 15%;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 14px;
    }

    &__head-image,
    &__product-image {
      width: 40%;
    }

    &__head-delete {
      width: 27px;
      padding: 0;
      text-align: right;
    }

    &__product-delete {
      background: black;
      width: 27px;
      padding: 0;
      text-align: right;
    }

    &__product-img-src {
      max-height: 60px;
      width: 80px;
      display: inline-block;
      vertical-align: middle;
    }
    &__product-name {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      font-family: Lato;
      font-weight: bold;
      letter-spacing: 0.86px;
      margin-left: 20px;
      width: calc(100% - 100px);
    }

    &__footer {
      font-size: 16px;
      font-weight: normal;
      padding: 20px 10% 20px 20px;
      text-align: right;
      letter-spacing: 0.4px;
    }

    &__subtotal,
    &__total {
      margin-bottom: 15px;
    }

    &__subtotal-item-price,
    &__total-price {
      width: 20%;
      display: inline-block;
    }
  }

  .cart__line-item {
    background: white;
    color: black;
    margin-bottom: 10px;
    padding: 0;
    display: table-row;
    border: none;
    border-bottom: solid black 2px;
  }

  .cart__quantity-container {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px;
    width: 15%;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
  }


  .cart__remove {
    position: relative;
    top: auto;
    right: auto;
    color: white;
    text-transform: uppercase;
  }

  .line-item__quantity {
    border: 1px solid black;
    height: 33.63px;
    width: 61.29px;
    padding-right: 15px;
    text-align: right;
  }
}
