.related-products {
  overflow: hidden;
  background: #F7F7F7;
  text-align: center;
  padding: 80px 20px;

  @include breakpoint(sm-min) {
    padding: 40px 0;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 50px;
    letter-spacing: 0.9px;
    font-weight: 700;

    @include breakpoint(sm-min) {
        font-size: 1.6rem;
    }
  }

  &__items {
    max-width: 950px;
    margin: 0 auto;
    display: flex;

    @include breakpoint(sm-min) {
      display: block;
      white-space: nowrap;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  &__item {
    width: calc((100%/3) - 40px);
    position: relative;
    background: white;
    padding-bottom: 70px;
    text-align: left;
    margin: 0 20px;
    border: 1px solid #d6d6d6;

    @include breakpoint(sm-min) {
      display: inline-block;
      width: calc(50% - 20px);
      margin:0 10px;
    }
  }
}
