$cart-width: 520px;
$cart-bg: #fff;

.is-homepage {
  .cart {
    top: 130px;

    @include breakpoint(md) {
      top: 107px;
    }

    @include breakpoint(md) {
      top: 69px;
    }

    &__overlay {
      top: 130px;
      height: calc(100vh - 130px);

      @include breakpoint(md) {
        top: 107px;
        height: calc(100vh - 107px);
      }
    }

    &__items {
      height: calc(100vh - 500px);

      @include breakpoint(md) {
        height: calc(100vh - 480px);
      }

      @include breakpoint(md) {
        height: calc(100vh - 460px);
      }
    }
  }
}

.cart {
  position: fixed;
  right: 0;
  top: 94px;
  background: $cart-bg;
  height: calc(100vh - 94px);
  z-index: $z-index-cart;
  width: $cart-width;
  transform: translate(100%, 0);
  transition: all 500ms $easeInOutQuad;

  @include breakpoint(md) {
    top: 69px;
    height: calc(100vh - 69px);
  }

  @include breakpoint(sm-min) {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__edit {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__overlay {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 92px;
    height: calc(100vh - 92px);
    background: rgba(0,0,0, 0.8);
    z-index: $z-index-cart;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms;

    @include breakpoint(md) {
      top: 69px;
      height: calc(100vh - 69px);
    }

    @include breakpoint(sm-min) {
      display: none;
    }
  }
}

.cart--open {

  .cart {
    transform: none;

    &__overlay {
      opacity: 1;
      visibility: visible;
    }
  }

}


@import "header";
@import "items";
@import "footer";
