.cart {
  &__footer {
    padding: 0 20px 80px 55px;
    font-weight: $font-weight-bold;
    font-size: 1.2rem;
    letter-spacing: 0.3px;

    @include breakpoint(sm-min) {
      padding: 0 20px 50px;
    }
  }

  &__subtotal, &__total {
    display: flex;
    justify-content: space-between;
  }

  &__subtotal {
    margin-bottom: 20px;

    &:first-of-type {
      padding-top: 20px;
      border-top: 1px solid #D6D6D6;
    }
  }

  &__total {
    border-top: 1px solid #D6D6D6;
    padding: 20px 0 0;
  }

  &__btn-container {
    padding: 10px;

    .button {
      &--disabled {
        opacity: .5;
        pointer-events: none;
      }
    }
  }
}
