.cart {
  &__header {
    padding: 40px 20px 40px 55px;
    position: relative;

    @include breakpoint(sm-min) {
      padding: 40px 20px;
    }
  }
  &__title {
    width: calc(100% - 120px);
    font-weight: $font-weight-bold;
  
    @include breakpoint(sm-min) {
      width: calc(100% - 74px);
    }
  }

  &__close {
    @include centralize-vertical();
    right: 20px;
    width: 116px;
    height: 50px;
    font-weight: $font-weight-bold;
    border: 1px solid #979797;
    font-size: 1.28rem;
    outline: none;
    cursor: pointer;

    @include breakpoint(sm-min) {
      width: 70px;
      font-size: 0.85rem;
      height: 40px;
    }

  }
}
