.cart {

  &__items {
    height: calc(100vh - 463px);
    display: block;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0 20px 0 55px;

    @include breakpoint(sm-min) {
      padding: 0 20px;
    }
  }

  &__line-item {
    display: flex;
    border-bottom: 1px solid #d6d6d6;
    padding: 30px 10px 20px 0;
    transition: all 300ms;
    position: relative;

    &--is-updating {
      opacity: 0.5;
      pointer-events: none;

      .cart__line-item-loader {
       display: block;
      }
    }

    &--is-removing {
      opacity: 0.5;
      transform: translate(150%, 0);
      pointer-events: none;
      transition: all 500ms;
    }

    &:last-of-type {
      border: none;
    }

    &-loader {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      z-index: 10;
      display: none;
    }

  }

  &__product-image {
    width: 120px;
    min-height: 170px;
    position: relative;
    border: 1px solid #D6D6D6;

    @include breakpoint(sm-min) {
      width: 80px;
    }

    img {
      @include img-contain-center;
      max-width: 70%;
      max-height: 70%;
    }
  }

  &__product-info {
    width: calc(100% - 120px);
    padding-left: 20px;
    position: relative;


    @include breakpoint(sm-min) {
      width: calc(100% - 80px)
    }

  }

  &__product-name {
    font-size: 1.14rem;
    font-weight: $font-weight-bold;
    margin-bottom: 8px;
  }

  &__product-description {
    margin-bottom: 8px;
    line-height: 1.5rem;

    @include breakpoint(sm-min) {
      font-size: 0.85rem;
      line-height: 1.21rem;
    }
  }

  &__price-container {
    margin-bottom: 8px;
  }

  &__price {
    color: $brand-color;
    font-size: 1.14rem;
    font-weight: $font-weight-bold;

    &--is-sale {
      text-decoration: line-through;
      margin-right: 5px;
      display: inline-block;
    }
  }

  &__quantity-container {
    font-weight: $font-weight-bold;
  }

  &__quantity-label {
  }

  &__option-values-container {
    margin-bottom: 8px;
    font-weight: $font-weight-bold;
    line-height: 1.21rem;

    @include breakpoint(sm-min) {
      font-size: 0.85rem;
      line-height: 1.21rem;
    }
  }

  &__quantity {
    display: inline-block;
    margin: 0 10px;
    &-min {
      margin-left: 10px;
      cursor: pointer;
    }
    &-plus {
      cursor: pointer;
    }
  }

  &__remove {
    position: absolute;
    right: 0;
    top: -4px;
    border: none;
    background: none;
    font-weight: $font-weight-bold;
    cursor: pointer;
    outline: none;
  }
}
