.payment-icons {
  background-color: #FBF6F6;
  padding: 20px;

  &__label {
    color: #5D5D5D;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 100%;
    }
  }

  &__item {
    width: 32px;
    height: 24px;
  }
}
