.collapse {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5D5D5D;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.14px;
    cursor: pointer;

    &:after {
      content: "";
      background: url('../images/arrow-down.svg') no-repeat center right;
      display: inline-block;
      height: 16px;
      width: 23px;
    }
  }

  &--open {
    .collapse__title:after {
      transform: rotate(180deg);
    }

    .collapse__content {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
  }

  &__content {
    opacity: 0;
    visibility: hidden;
    height: 0px;
  }
}
