.completed-carousel {
  width: 100vw;
  height: calc(100vh - 92px);
  padding: 20px;
  position: relative;
  background: #EFEFEF;
  text-align: center;

  &__title,
  &__text {
      margin-bottom: 20px;
      font-size: 24px;
      letter-spacing: 0.6px;
  }

  &__btn {
    margin-top: 70px;
  }

  &__order-number {
    font-size: 16px;
    letter-spacing: 0.4px;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // height: 70%;
    width: 428px;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 76px 0 rgba(0,0,0,0.21);
    z-index: 2;
  }
  &__images {
    position: relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
  }

  .swiper-container,
  .swiper-wrapper {
    width: 100vw;
  }
  .swiper-slide {
    width: 221px;
    height: 221px;
    background: white;
  }
}
