$link-color: black;
$text-transform: uppercase;
$link-font-size: 0.85rem;
$link-letter-spacing: 1.9px;
$header-bg-color: red;

.menu__items {
    display: flex;
    justify-content: space-around;

    @include breakpoint(md) {
        display: block;
    }

    &--sub {
        display: block;
        position: absolute;
        background: $header-bg-color;
        padding: 30px 12px 8px;
        top: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0;
        visibility: hidden;
        transition: all 300ms;

        @include breakpoint(md) {
            position: static;
            opacity: 1;
            transform: none;
            visibility: visible;
            margin: 15px 0 0 -60px;
            padding: 0;
            background: #1b1b1b;
            display: none;
        }


        .menu__item {
            border-bottom: 1px solid #3F3F3F;
            padding: 6px 12px;

            @include breakpoint(md) {
                padding: 15px 0 15px 60px;
            }

            &:last-of-type {
                border: none;
            }
        }
    }
}

.menu__item {
    position: relative;

    @include breakpoint(md) {
        padding: 15px 5px 15px 60px;
        border-bottom: 1px solid black;
    }

    &:hover>.menu__items--sub {
        opacity: 1;
        visibility: visible;

        @include breakpoint(md) {
            display: block;
        }
    }

    .cat-sub-main {
        display: flex;
        background: white;
        position: fixed;
        transform: translate(0);
        width: 100vw;
        left: 0;
        transition: all 0ms;
        // min-height: 100px;
        opacity: 0;
        visibility: hidden;
        padding: 30px 11vw;
        border-bottom: 1px solid #ccc;

        .cat-sub-list {
            display: inline-block;
            width: 75%;
            &.no-image{
                width: 100% !important;
            }

            .menu__items--sub {
                padding: 0;
                height: 100%;

                .menu__item {
                    padding: 0 15px 15px 0;

                    .menu__item-link {
                        line-height: 100%;
                    }

                    // &:last-of-type {
                        // display: none;
                        // padding: 0;
                        // bottom: 0;

                        // .menu__item-link {
                            // line-height: 32px;
                        // }
                    // }
                }
            }
            &.count-2 {
                .menu__items--sub {
                    width: calc(50% - 30px);
                    display: inline-block;
                    position: relative;
                    padding-right: 30px;
                    margin-right: 30px;
                    border-right: 1px solid #ccc;
                    vertical-align: top;
                    top:0;
                    .menu__item{
                      width: 50%;
                      &.title {
                        width: 100%;
                        font-family: "Proxima Nova Rg", sans-serif;
                        font-weight: 600;
                      }       
                    }
                }
            }
        }

        .cat-sub-image {
            display: inline-block;
            width: 25%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                border-radius: 3px;
            }
        }
    }

    &:hover .cat-sub-main {
        opacity: 1;
        visibility: visible;

        .menu__items--sub {
            opacity: 1;
            visibility: visible;
            width: 100%;
            position: inherit;
            margin: 0px;

            .menu__item {
                display: inline-block;
            }

            @include breakpoint(md) {
                display: block;
            }
        }
    }

    &--has-sub {
        >.menu__item-link {
            &:after {
                content: "";
                background-size: cover;
                background: url('../images/icon--arrow.png') no-repeat center;
                width: 10px;
                height: 10px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 5px;
            }
        }
    }
}

.menu__item-link {
    color: $link-color;
    text-transform: $text-transform;
    text-decoration: none;
    letter-spacing: $link-letter-spacing;
    font-weight: 700;
    font-size: 0.85rem;
    transition: all 300ms;

    &:hover {
        color: $brand-color;
    }
}

.menu__item-icon,
.menu__item-icon-hover {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    z-index: -1;
}