$page-animation: fadeIn .75s;

.product-overview {
  animation: $page-animation;
  padding-bottom: 100px;
  padding-top: 30px;
  position: relative;

  &__title {
    padding-left: 320px;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 700;

    @include breakpoint(md) {
      display: none;
    }
  }

  &__taxon-description {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -5000px;
  }

  &__btn-container {
    display: none;

    @include breakpoint(md) {
      display: block;
      padding: 25px 10px 0;
    }
  }

  &__btn {
    width: calc(50% - 10px);

    &:first-of-type {
      margin-right: 20px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 300px);
    float: right;
    margin: 60px 0 0;
    align-items: flex-start;
    position: relative;
    min-height: calc(100vh - 300px);

    @include breakpoint(md) {
      width: 100%;
      float: none;
      margin: 25px 0 0;
    }
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    float: left;
    margin: 60px 0 50px;

    @include breakpoint(md) {
      width: 100%;
      float: none;
      margin: 25px 0 0;
      display: none;

      &--visible {
        display: block;
      }
    }

    &--sticky {
      position: sticky;
      top: 180px;

      @include breakpoint(md) {
        position: relative;
        top: auto;
      }
    }
  }

  &__pagination {
    clear: both;
  }

  &__no-products-title {
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    transform: translate(-150px, 0);
    font-size: 2.14rem;
    letter-spacing: .9px;

    @include breakpoint(md) {
      transform: none;
      padding: 50px 0 0;
    }
  }

  .products-sorting {
    float: right;
    font-size: 16px;
    margin-left: 30px;

    &__label {
      padding-right: 25px;
    }
    &__list {
      background: url('../images/icon--arrow.png') no-repeat calc(100% - 10px) center white;
      appearance: none;
      border-radius: 0;
      height: 52px;
      width: 162px;
      padding-left: 20px;
      // background: ;
      border: 2px solid #CFCFCF;
    }
  }
}
