.slider {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #E13228;
  height: 38px;
  z-index: 1000;
  text-align: center;
  color: white;
  font-size: 12px;
  letter-spacing: 1.9px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 14px;

  @include breakpoint(sm-min) {
    display: none!important;
  }

  &__item {
    &:before {
      content: '\2713 ';
      margin-right: 10px;
    }
  }
}
