.quantity {
  width: 120px;
  height: 68px;
  display: flex;
  background: white;
  &__input-container {
    width: 50%;
  }

  &__input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    font-size: 1.8rem;
    color: $brand-color;
    font-weight: $font-weight-bold;
  }

  &__min, &__plus {
    width: 25%;
    cursor: pointer;
    outline: none;
    background: transparent;
    border: none;
    font-size: 1.8rem;
    color: $brand-color;
    font-weight: $font-weight-bold;
  }

}
