.summary-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;

  &__right {
    text-align: center;
  }

  &__label {
    color: #5D5D5D;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: bold;

    &--small {
      font-size: 12px;
      letter-spacing: 0.86px;
      font-weight: bold;
    }
  }

  &__payments {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 100%;
      max-width: 320px;
    }
  }

  &__payment {
    width: 32px;
    height: 24px;
  }

  .btn-checkout {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.14px;
    padding: 30px 0;
    margin-bottom: 20px;
    width: 259px;

    &:hover {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1.14px;
    }
  }
}
