.mini-pdp {
  display: flex;

  @include breakpoint(sm-min) {
    display: block;
  }

  &__left {
    width: 50%;
    @include breakpoint(sm-min) {
      width: 100%;
    }
  }
  &__right {
    width: 50%;
    padding: 60px;

    @include breakpoint(sm-min) {
      width: 100%;
      padding: 20px;
    }
  }

  &__img-container {
    height: 100%;
    position: relative;

    @include breakpoint(sm-min) {
      height: 250px;
      padding: 20px;
    }

    img {
      @include img-contain-center;
    }
  }

  &__product-name {
    font-size: 38px;
    letter-spacing: .9px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__price {
    font-size: 16px;
    letter-spacing: .9px;
    font-weight: 700;
    margin-bottom: 30px;

    &-normal {
      &--in-sale {
        text-decoration: line-through;
      }
    }
    &-sale {
      color: red;
      margin-left: 5px;
    }
  }

  &__btn-container {
    .button {
      &:first-of-type {
        margin-bottom: 20px;
      }
    }
  }

}
