.quick-add-product {
  background: rgba(27,27,27, 0.9);

  .option {
    &__type {
      margin-bottom: 15px;
      padding-left: 10px;
    }
    &__value {
      margin-right: 0;
      color: white;
      font-size: 12px;
      line-height: normal;
      padding: 2px 10px;

      &--color {
        padding: 0;
        &-inner {
          height: 15px;
        }
      }
    }
  }

  .product-detail__info-label {
    min-width: 50px;
    margin-bottom: 0;
    color: white;
  }
}
