.look-detail {
  width: 90vw;
  margin: 0 auto;
  background: linear-gradient(45deg, transparent 50%, #fff 50%),
    linear-gradient(-45deg, transparent 50%, #fff 50%),
    linear-gradient(to bottom, #f7f7f7, #f7f7f7);
  padding-bottom: 65px;

  &__titles {
    text-align: center;
    h1 {
      font-size: 26px;
      letter-spacing: 7.24px;
      font-family: "Copperplate";
    }

    h2 {
      font-size: 9px;
      letter-spacing: 5.8px;
      margin-bottom: 15px;
    }
  }

  .mini-pdp {
    width: 30vw;

    &__product-name {
      font-size: 13px;
      letter-spacing: 3px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &__price-normal {
      font-size: 12px;
      letter-spacing: 1.2px;
      font-weight: normal;
    }

    &__left {
      width: 50%;
      padding: 0 20px;
    }

    &__right {
      padding: 0;
    }

    .option__type {
      border-top: 1px solid #e1e1e1;
      padding-top: 15px;
    }

    .product-detail__info-label {
      font-size: 15px;
      letter-spacing: 0.5px;
      font-weight: normal;
      text-transform: unset;
      padding-right: 15px;
    }

    .button--disabled {
      background-color: #f6f6f6;
    }
  }

  .look-detail__items--left,
  .look-detail__items--right {
    .look-detail__item:first-of-type {
      margin-bottom: 80px;
    }
  }

  .look-detail__items {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }

  .look-detail__back-button {
    display: flex;
    justify-content: center;
    margin-top: 52px;

    a {
      text-decoration: none;
      background-color: #ffffff;
      text-transform: uppercase;
      color: black;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1.2px;
      line-height: 16px;
      text-align: center;
      padding: 26px 86px;
    }
  }
}
