.reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  padding: 50px 20px;
  min-height: calc(100vh - 103px);
  animation: fadeIn .75s;
  animation-fill-mode: both;

  &__container {
    width: 100%;
    max-width: 450px;
    text-align: center;
  }
  &__title {
    font-size: 2.14rem;
    letter-spacing: 0.4px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  &__button-container {
      margin-top: 20px;
  }
}
