.checkout,
.checkout__left {

  .login {
    padding: 30px;
    background: #f7f7f7;
    margin-bottom: 45px;
    float: none;
    width: 100%;
    min-height: 0;
    display: block;

    @include breakpoint(md) {
      padding: 30px 10px;
    }

    @include breakpoint(sm-min) {
      padding: 30px 10px 40px;
    }

    &__logout {
      margin-bottom: 20px;
      letter-spacing: .4px;
      font-size: 0.85rem;
      font-weight: 700;
    }

    &__container {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      max-width: none;

      @include breakpoint(sm-min) {
        display: block;
      }
    }

    &__title {
      width: calc(40% - 50px);
      font-size: 1.21rem;
      letter-spacing: .4px;
      font-weight: 700;
      margin-bottom: 0;
      text-align: left;
      padding-right: 5px;

      @include breakpoint(sm-min) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &__input-container {
      width: calc(60% - 50px);
      display: flex;
      padding-right: 20px;

      @include breakpoint(sm-min) {
        width: 100%;
        padding: 0;
        display: block;
      }

      > div {
        width: calc(50% - 6px);
        margin: 0;

        @include breakpoint(sm-min) {
          width: 100%;
          margin-bottom: 10px;
        }

        &:first-of-type {
          margin-right: 12px;

          @include breakpoint(sm-min) {
            margin-right: 0;
          }
        }
      }
    }

    &__link {
      float: right;
      font-size: 0.85rem;
      letter-spacing: 0.4px;
      font-weight: 700;
      cursor: pointer;

      @include breakpoint(sm-min) {
        margin-top: 10px;
      }
    }

    &__btn-container {
      width: 100px;

      @include breakpoint(sm-min) {
        width: 100%;
      }

      .button {
        height: 48px;
        padding-top: 16px;
      }
    }

  }
}
