.checkout {
  &__steps {
    display: flex;
    margin-bottom: 20px;
  }

  &__step {
    width: calc(50% - 10px);

    &:first-of-type {
      margin-right: 20px;
    }

    .button {
      height: 62px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}
