.not-found {
  min-height: calc(100vh - 103px);
  background: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  animation: fadeIn .75s;
  animation-fill-mode: both;


  &__container {
    width: 100%;
    padding: 50px 20px;
    max-width: 485px;
    margin: 0 auto;
    background: white;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: .9px;
  }

  &__subtitle {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: .4px;
    margin-bottom: 20px;
  }
}
