.checkout-completed {
    padding: 20px;

    &__title,
    &__text {
        margin-bottom: 20px;
    }

    &__btn {
        margin: 20px 0;
    }

    &__order-number {
        font-weight: bold;
    }
}