body {
  .cookie-message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    min-height: 80px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 2147483647;
    display: flex;
    align-items: center;

    @include breakpoint(sm-min) {
      display: block;
    }

    &__text {
      width: calc(100% - 150px);
      padding: 0 20px 0 10px;
      color: white;
      line-height: 21px;
      font-size: 12px;
      letter-spacing: .4px;

      @include breakpoint(sm-min) {
        width: 100%;
        padding: 0 0 10px;
      }

      a {
        color: white;

        &:active, &:focus, &:hover {
          color: white;
        }
      }
    }

    &__button {
      min-width: 150px;
      width: auto;
      height: 50px;
      cursor: pointer;

      @include breakpoint(sm-min) {
        width: 100%;
        min-width: 0;
      }
    }
  }
}

