.navigation-mobile {
  position: fixed;
  width: 100vw;
  height: 50px;
  background: white;
  left: 0;
  bottom: 0;
  z-index: 1500;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;

  &__overlay {
    position: absolute;
    height: calc(100vh - 50px);
    background: rgba(0,0,0, 0.25);
    width: 100vw;
    left: 0;
    bottom: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }

  .multilanguage {
    @include breakpoint(sm-min) {
      display: flex;
      position: absolute;
      top: 5px;
      width: calc(100% - 80px);
      left: 50%;
      transform: translate(-50%, 0);
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-top: 1px solid #ddd;
    }
  }

  &__menu-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    background: white;
    transition: all 300ms;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 60px 5px 20px;
    opacity: 0;

    &--visible {
      transform: translate(0, -100%);
      opacity: 1;
    }
  }

  &__menus {
    display: flex;
  }

  &__menu {
    width: 50%;
    padding: 0 10px 10px 40px;
    margin-top: 6px;
    max-height: calc(100vh - 350px);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    &:first-child {
      border-right: 1px solid #eee;
    }

    .menu {
      &__item {
        border: none;
        padding: 0;
        margin-bottom: 20px;

        &-link {
          text-transform: none;
          font-size: 15px;
          line-height: 21px;
          font-weight: normal;
          letter-spacing: .5px;

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  &__search {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 0;
    background: #eee;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;

    &--visible {
      transform: translate(0, -100%);
      opacity: 1;
      visibility: visible;
    }

    .search {
      width: 100%;
      left: 0;
      background: transparent;
      top: 0;
      height: 100%;

      &--open {
        width: 100%;
      }

      &__form {
        display: flex;
        align-items: center;
      }

      &__input {
        background: white;
        border: 1px solid #eee;
        height: 36px;
      }

      &__btn {
        height: 36px;
        padding: 0;
        border: 1px solid #eee;
      }
    }
  }

  &__items {
    height: 100%;
    display: flex;
    position: relative;
    z-index: 200;
  }

  &__item {
    width: 20%;
    border-right: 1px solid #e6e6e6;
    background-color: white;

    &--menu {
      position: relative;
      .burger {
        width: 16px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        span {
          display: block;
          height: 3px;
          background: black;
          margin-bottom: 2px;
        }
      }
    }

    &--account {
      background: white url("../images/icon--account.svg") no-repeat center;
      background-size: 16px;
    }

    &--search {
      background: white url("../images/icon--search.svg") no-repeat center;
      background-size: 16px;
    }

    &--cart {
      background: white url("../images/icon--cart.svg") no-repeat center;
      background-size: 16px;
    }

    &--wishlist {
      background: white url("../images/icon--home.svg") no-repeat center;
      background-size: 16px;
    }

    &:last-child {
      border: none;
    }

    &--active {
      background: white url("../images/icon--close.svg") no-repeat center;
      background-size: 16px;

      .burger {
        display: none;
      }
    }
  }
}


.is-checkout {
  .navigation-mobile {
    &__item {
      width: 25%;

      &--cart {
        display: none;
      }
    }
  }
}
