.filters {
  width: 100%;
  padding: 0 50px;
  @include breakpoint(md) {
    padding: 0 10px;
  }

  &__reset {
    cursor: pointer;
    font-size: 12px;
    letter-spacing: .5px;
  }

}

.filter {
  &__category-wrapper {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0;
    @include breakpoint(sm-min) {
      padding: 14px 0;
    }
    &:first-of-type {
      border-top: 1px solid #e0e0e0;
    }
    &--opened {
      .filter__category-items {
        display: block;
        margin-top: 20px;
        @include breakpoint(sm-min) {
          margin-top: 14px;
        }
      }
      .filter__category-title__plus {
        &:after {
          opacity: 0;
        }
      }
    }
  }
  &__category-title {
    font-weight: 700;
    font-size: 1.64rem;
    letter-spacing: 0.2px;
    cursor: pointer;
    position: relative;
    @include breakpoint(sm-min) {
      font-size: 1.07rem;
      letter-spacing: 0.4px;
    }
    &__plus {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 16px;
      height: 16px;
      @include breakpoint(sm-min) {
        width: 12px;
        height: 12px;
      }
      &:before,
      &:after {
        content: '';
        background: red;
        height: 4px;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transform-origin: 50% 50%;
        @include breakpoint(sm-min) {
          height: 2px;
        }
      }
      &:after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
  &__category-items {
    display: none;
  }
  &__item {
    cursor: pointer;
    font-size: 1.07rem;
    letter-spacing: 0.4px;
    font-weight: 700;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    transition: all 500ms;

    @include breakpoint(sm-min) {
      font-size: 0.85rem;
    }
    &:last-of-type {
      border-bottom: none;
    }
    &--enabled {
      color: red;
    }
    &__color-swatch {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
