:global {
  @import "~cq-base-react/src/css/base/responsive.scss";
.search {
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translate(0, -50%);
  height: 72px;
  width: calc(100% - 170px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: transparent;
  transition: all 500ms;

@include breakpoint(md) {
  height: 52px;
  left: 40px;
}

&--open {
   background: black;

@include breakpoint(md) {
  left: 10px;
  width: calc(100% - 20px);
}

.search__icon {
  padding-left: 20px;

@include breakpoint(md) {
  padding-left: 0;
}

img {
  transform: none;
}
}

.search__input, .search__btn {
  opacity: 1;
  visibility: visible;
}
}

&__form {
   width: 100%;
   height: 100%;
 }

&__icon {
   background: none;
   border: none;
   outline: none;
   cursor: pointer;
   width: 100px;
   text-align: left;
   padding-top: 4px;
   transition: all 500ms;

@include breakpoint(md) {
  width: 40px;
  padding-left: 0;
  text-align: center;
}

img {
  width: 22px;
  transform: translate(-8px, 0);
  transition: all 500ms;

@include breakpoint(md) {
  transform: none;
}
}
}
&__input {
   width: calc(100% - 200px);
   height: 100%;
   color: white;
   font-weight: 700;
   letter-spacing: 1.9px;
   background: transparent;
   border: none;
   text-transform: uppercase;
   font-size: 0.85rem;
   outline: none;
   opacity: 0;
   visibility: hidden;
   transition: all 500ms;

@include breakpoint(md) {
  width: calc(100% - 100px);
}

&::placeholder {
   color: white;
 }
}
&__btn {
   width: 200px;
   height: 100%;
   text-transform: uppercase;
   font-size: 0.85rem;
   color: white;
   letter-spacing: 1.9px;
   font-weight: 700;
   background: #2A2A2A;
   outline: none;
   border: none;
   cursor: pointer;
   opacity: 0;
   visibility: hidden;
   transition: all 500ms;

@include breakpoint(md) {
  width: 100px;
}
}
}
}
