.wishlist-add {
  clear: both;
  padding-top: 30px;
  &__title {
    margin-bottom: 20px;
    font-size: 1.14rem;
    font-style: italic;
  }

  &__form {
    max-width: 450px;
  }

  &__input {
    height: 50px;
    outline: none;
    padding-left: 10px;
    border: 1px solid #a8a8a8;
    font-size: 0.85rem;
    letter-spacing: .3px;
    width: calc(100% - 150px);

    @include breakpoint(sm-min) {
      width: 100%;
    }

    &::placeholder {
      color: black;
    }
  }

  .button {
    height: 50px;
    vertical-align: top;
    padding-top: 12px;
    width: 150px;

    @include breakpoint(sm-min) {
      width: 100%;
      margin-top: 10px;
    }
  }
}
