.newsletter {
  &__title {
    font-size: 1.28rem;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 0.85rem;
    margin-bottom: 20px;
    line-height: 21px;
  }

  &__form {
    display: flex;

    form {
      width: 80%;

      @include breakpoint(md) {
        width: 100%;
      }
    }
  }

  &__input {
    height: 50px;
    font-size: 0.85rem;
    padding-left: 10px;
    letter-spacing: 0.5px;
    width: calc(100% - 160px);
    outline: none;
  }

  &__btn {
    width: 140px;
    height: 50px;
    border: none;
    outline: none;
    vertical-align: top;
    cursor: pointer;
  }
}
