.product {
    width: calc((100% / 3) - 50px);
    border: 1px solid #D6D6D6;
    margin: 0 25px 50px;
    position: relative;
    text-align: left;
    padding-bottom: 70px;
    animation: productAnimation .5s;

    &__quick-add-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        z-index: 100;
        visibility: hidden;
        transition: all 300ms;

        @include breakpoint(sm-min) {
            display: none;
        }
    }

    &__quick-add-button {
        width: 100%;
        height: 50px;
        background: rgba(27, 27, 27, 0.9);
        color: white;
        outline: none;
        border: none;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__container {
        position: relative;

        .wishlist__icon {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
            width: 20px;
            z-index: 100;
        }
    }

    @include breakpoint(md) {
        width: calc(50% - 20px);
        margin: 0 10px 20px;
    }

    &__img-container {
        height: 0;
        padding-bottom: 86%;
        min-height: 160px;
        position: relative;

        a {
            display: block;
        }

        &:hover {
            .product__quick-add-container {
                opacity: 1;
                visibility: visible;
            }
        }

        img {
            @include img-contain-center;
        }
    }

    &__info {
        padding: 15px 15px 0;

        @include breakpoint(md) {
            padding: 8px 8px 0;
        }
    }

    &__name {
        font-size: 1.14rem;
        font-weight: $font-weight-bold;
        margin-bottom: 5px;
        line-height: 1.6rem;
        letter-spacing: 0.4px;

        @include breakpoint(md) {
            letter-spacing: 0.2px;
            font-size: 0.78rem;
            line-height: 1.21rem;
        }
    }

    &__description {
        margin-bottom: 15px;
        line-height: 1.5rem;

        @include breakpoint(md) {
            letter-spacing: 0.2px;
            font-size: 0.78rem;
            line-height: 1.21rem;
        }
    }

    &__price {
        float: right;
        color: $brand-color;
        font-size: 1.4rem;
        letter-spacing: 0.5px;
        font-weight: $font-weight-bold;

        @include breakpoint(md) {
            font-size: 0.78rem;
        }
    }

    &__btn-container {
        position: absolute;
        bottom: 15px;
        left: 15px;
        width: calc(100% - 30px);

        @include breakpoint(md) {
            left: 8px;
            bottom: 8px;
            width: calc(100% - 16px);
        }
    }

    &__colors {
        text-align: left;
        margin-top: 4px;
        font-size: 11px;
    }

    &__color {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #ddd;
        margin-right: 5px;
        border-radius: 50%;
    }
}

.p-brand-name {
    letter-spacing: 4px;
    margin-bottom: 18px;
    text-transform: uppercase;
    font-size: 1.2rem;
}