.addresses-fields {
  .form--group {
    float: left;
    width: calc(50% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
  }
}

.checkout__address-wrapper {
  overflow: hidden;

  .checkout__block {
    width: 100%;
  }
}

.checkout__address-fields {

}

.is-checkout {
  .checkout {
    &__form-error-message {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      color: red;
      font-size: 11px;
      z-index: 10;
    }

    &__input-wrapper {
      &--invalid {
        .form--input {
          border-color: red;
        }
      }
    }
  }
}

