.pagination {
  margin: 50px auto 0;
  text-align: center;
  position: relative;

  &__items {
    display: inline-block;
    width: 380px;
    text-align: center;
    border-left: 1px solid #CECECE;
    border-right: 1px solid #CECECE;

    @include breakpoint(sm) {
      width: 240px;
    }
  }

  &__item {
    font-size: 1.2rem;
    display: inline-block;
    font-weight: $font-weight-bold;
    text-decoration: none;
    margin: 0 12px;

    @include breakpoint(sm) {
      font-size: 1.14rem;
      margin: 0 8px;
    }

    &:hover, &--active {
      color: $brand-color;
    }
  }

  &__prev, &__next {
    padding-top: 6px;

    &--disabled, &[disabled] {
      opacity: 0.2;
      cursor: auto;
      pointer-events: none;
    }

    img {
      width: 35px;
      position: relative;
      top: 6px;

      @include breakpoint(sm) {
        width: 25px;
        top: 4px;
      }

    }
  }

  &__prev {
    margin-right: 30px;

    @include breakpoint(xs) {
      margin-right: 10px;
    }

    img {
      transform: rotate(180deg);
    }
  }

  &__next {
    margin-left: 30px;

    @include breakpoint(xs) {
      margin-left: 10px;
    }
  }

}
