.account {
  &__order-row {
    display: flex;
    height: 60px;
    align-items: center;
    letter-spacing: 0.4px;
    background: #f7f7f7;

    &:nth-child(odd){
      background: white;
    }

    &--top {
      font-weight: 700;
      background: white;
    }
  }

  &__order-item {
    width: 20%;
    padding: 0 4px;

    @include breakpoint(sm-min) {
      width: calc(100% / 3);
      font-size: 12px;
    }

    &:nth-of-type(4), &:nth-of-type(5) {
      @include breakpoint(sm-min) {
        display: none;
      }
    }
  }

}
