.account {
  &__modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0,0,0, 0.5);
    z-index: 4000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;

    &__background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__modal {
    background: white;
    padding: 30px 50px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }

  &__modal-header {
    background: #f7f7f7;
    padding: 15px 0 15px 10px;
    line-height: 21px;
    letter-spacing: .4px;
    font-weight: 700;
  }

  &__modal-rows {
    max-height: calc(100vh - 600px);
    min-height: 61px;
    overflow: scroll;
  }

  &__modal-row {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #979797;

    &--last {
      border-bottom: none;
    }

    &--top {
      font-weight: 700;
      padding: 8px 0;
    }
  }

  &__modal-item {
    width: 15%;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
    line-height: 21px;

    &:nth-of-type(2) {
      width: 55%;
    }

    &:nth-of-type(3) {
      text-align: center;
    }

    &:last-of-type {
      text-align: right;
    }
  }

  &__modal-image-container {
    position: relative;
    width: 30px;
    height: 30px;

    img {
      @include img-contain-center();
    }
  }

  &__modal-btn-container {
    margin-top: 20px;
  }

}
