.swiper-container {
  .swiper-pagination {
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    border-radius: 0;
    background: none;
    width: 100%;
  }
}


.product-detail {
  .swiper-pagination-bullet {
    width: 86px;
    height: 86px;
    position: relative;
    margin: 0 3px;
    cursor: pointer;
    background: white;
    border-radius: 0;
    opacity: 1;
    outline: none;
    border: 1px solid #979797;

    @include breakpoint(sm-min) {
      width: 50px;
      height: 50px;

    }

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: auto;
      max-width: 80%;
      max-height: 80%;
      opacity: 0.4;
    }
    &-active {
      img {
        opacity: 1;
      }
    }
  }
}

